@import "../scss/variables";

body {
  color: white;
  padding: $padding-md;
  background-image: url(../images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.info,
.logo-area {
  box-shadow: 0px 0px 10px 5px $primary-color;
  background: $secondary-color;
  border-radius: 0.5rem;
  padding: $padding-md;
}

.logo-area {
  border-top-right-radius: 5rem;
  margin: 5rem auto 1rem;
}

ion-icon {
  font-size: 2rem;
  background: $primary-color;
  color: $secondary-color;
  padding: $padding-xs;
  border-radius: 0.5rem;
}

p {
  font-size: 0.85rem;
}

// .one {
//   padding-top: 0.15rem;
// }

// .five {
//   padding-top: 0.5rem;
// }

.progress {
  margin-bottom: 0.5rem;
  border-radius: 5rem;
}

.custom-progress-bar {
  // display: -webkit-box;
  // display: -ms-flexbox;
  display: flex;
  // -webkit-box-orient: vertical;
  // -webkit-box-direction: normal;
  // -ms-flex-direction: column;
  flex-direction: column;
  // -webkit-box-pack: center;
  // -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  // background-color: orange;

  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );

  transition: width 0.6s ease;
  border-radius: 5rem;
}

.dot {
  height: 15px;
  width: 15px;
  // background-color: #bbb;
  background-color: rgba(9, 9, 121, 1);
  border-radius: 50%;
  display: inline-block;
  margin-left: auto;
  margin-right: 0.15rem;
}

// .progress .progress-bar .custom-progress-bar {
//   color: red;
// }
// @media only screen and (min-width: 768px) {
//   .info,
//   .logo-area {
//     display: inline-block;
//   }
// }
