@import "../scss/variables";

html {
  height: 100%;
}

body {
  color: white;
  padding: $padding-md;
  background-image: url(../images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.info,
.logo-area {
  position: relative;
  box-shadow: 0px 0px 10px 5px $primary-color;
  background: $secondary-color;
  border-radius: 0.5rem;
  padding: $padding-md;
}

.logo-area {
  border-top-right-radius: 5rem;
  margin: 5rem auto 1rem;
}

ion-icon {
  font-size: 2rem;
  background: $primary-color;
  color: $secondary-color;
  padding: $padding-xs;
  border-radius: 0.5rem;
}

p {
  font-size: 0.85rem;
}

// .one {
//   padding-top: 0.15rem;
// }

// .five {
//   padding-top: 0.5rem;
// }

.progress {
  margin-bottom: 0.5rem;
  border-radius: 5rem;
}

.custom-progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  text-align: center;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  transition: width 0.6s ease;
  border-radius: 5rem;
}

.dot {
  height: 15px;
  width: 15px;
  background-color: rgba(9, 9, 121, 1);
  border-radius: 50%;
  display: inline-block;
  margin-left: auto;
  margin-right: 0.15rem;
}

.gb-left {
  position: absolute;
  left: 25%;
  background: whitesmoke;
  color: black;
  width: 50%;
  text-align: center;
  padding: $padding-sm 0;
  border-radius: 0.5rem;

  p {
    margin: 0;
  }
}

// @media only screen and (min-width: 768px) {
//   body {
//     background-image: url(../images/bg-desktop.svg);
//     background-size: cover;
//     background-position: center;
//   }
//   .logo-area {
//     margin: 0;
//   }
// }
